.brief-services
	height: 840px
	position: relative
	@media(max-width: 600px)
		height: 740px
	@media(max-width: 400px)
		height: 625px
	& .brief-services__fix-container
		@media(max-width: 600px)
			display: flex
			flex-direction: column
			align-items: center
	& .brief-services__cloud
		position: absolute
		top: 503px
		left: (-41800%/1440)
		@media(max-width: 1340px)
			left: -35.02778%
		@media(max-width: 1100px)
			left: -40.02778%
		@media(max-width: 997px)
			left: -52.02778%
		@media(max-width: 750px)
			left: -62.02778%
		@media(max-width: 600px)
			width: 270px
			height: 200px
			left: -23%
		@media(max-width: 540px)
			left: -48%
		@media(max-width: 400px)
			left: (-17800%/375)
		& .cloud__img
			@media(max-width: 600px)
				max-width: 100%
	& .brief_services__pic
		width: (82200%/1440)
		position: absolute
		left: (67400%/1440)
		top: 2px
		@media(max-width: 1340px)
			width: 49.08333%
			left: 53.80556%
		@media(max-width: 900px)
			width: 466.141px
		@media(max-width: 800px)
			width: 425.141px
			left: 50.80556%
		@media(max-width: 715px)
			width: 410.141px
			left: 47.80556%
		@media(max-width: 600px)
			width: 609px
			height: 342px
			left: (-400%/375)
			top: (-7100%/625)
			z-index: -1
		@media(max-width: 520px)
			left: -10%
		@media(max-width: 470px)
			left: -15%
		@media(max-width: 445px)
			left: -20%
		@media(max-width: 415px)
			left: -25%
		@media(max-width: 400px)
			width: (38100%/375)
			height: (34200%/625)
			left: (-400%/375)
		& .pic__dj-buh
			max-width: 100%
	& .brief-services__fix-container
		display: flex
		flex-direction: column
		justify-content: flex-start
		& .brief-services__text-block
			margin: 100px 0 0 0
			width: (91000%/1440)
			@media(max-width: 1225px)
				width: 52.19444%
			@media(max-width: 600px)
				margin: 505px 0 0 0
				width: (38000%/375)
				text-align: center
				height: 115px
				display: flex
				flex-direction: column
				align-items: center
			@media(max-width: 400px)
				margin: 117% 0 0 0
			& h1
				margin: 0
				font-size: 44px
				font-weight: 400
				text-transform: uppercase
				@media(max-width: 1225px)
					font-size: 40px
				@media(max-width: 800px)
					font-size: 34px
				@media(max-width: 715px)
					font-size: 28px
				@media(max-width: 600px)
					font-size: 15px
			& ul
				padding: 0
				list-style-type: none
				margin: 61px 0 0 0
				@media(max-width: 715px)
					margin: 35px 0 0 0
				@media(max-width: 600px)
					width: 264px
					margin: 35px 0 0 0
			& li
				font-size: 24px
				font-weight: 400
				@media(max-width: 1225px)
					font-size: 20px
				@media(max-width: 800px)
					font-size: 14px
				@media(max-width: 715px)
					font-size: 10px
				@media(max-width: 600px)
					font-size: 12px
				&:before
					content: "-"
					margin: 0 7px 0 0
			& .services-item2
				margin: 3px 0 0 0
		& form
			margin: 184px 0 0 0
			width: 610px
			height: 47px
			@media(max-width: 1225px)
				margin: 80px 0 0 0
			@media(max-width: 997px)
				width: 350px
				height: 145px
				display: flex
				flex-wrap: wrap
				justify-content: center
			@media(max-width: 800px)
				margin: 70px 0 0 0
			@media(max-width: 715px)
				width: 285px
				margin: 52px 0 0 0
			@media(max-width: 600px)
				margin: 30px 0 0 0
				width: 268px
				height: 82px
			*
				font-family: 'Montserrat'
			& input
				padding: 0 0 0 13px
				width: 175px
				height: 44px
				border-radius: 10px
				border: 1px solid #282d87
				color: rgba(40, 45, 135, 0.5)
				font-size: 20px
				@media(max-width: 1225px)
					width: 150px
					font-size: 16px
				@media(max-width: 800px)
					width: 120px
					font-size: 14px
				@media(max-width: 715px)
					font-size: 12px
				@media(max-width: 600px)
					width: 112px
					height: 26px
					font-size: 9px
					border-radius: 6px
					padding: 0 0 0 10px
			& .form__tel
				margin: 0 15px 0 0
			& button
				width: 190px
				height: 46px
				border-radius: 10px
				background-color: #ff9a23
				font-size: 20px
				color: #ffffff
				border: 1px solid #ff9a23
				text-align: center
				font-weight: 400
				margin: 0 0 0 10px
				@media(max-width: 1225px)
					width: 175px
					font-size: 16px
				@media(max-width: 800px)
					width: 145px
					font-size: 14px
				@media(max-width: 600px)
					margin: 13px 0 0 0
					width: 123px
					height: 29px
					font-size: 8px
					border-radius: 10px
